# Business Case: Rush Sales Analysis

> Add blockquote





Noor Sheikhyassin

08/10/2025

This analysis is conducted for RUSH, a global sportswear and footwear company recognized for its innovation and performance-oriented products. The company has provided raw sales data organized into three tables: TABLE_PRODUCTS, TABLE_RETAILER, and TABLE_SALES. These tables contain key variables including units sold, total revenue, product types, retailer details, and geographic sales data. The dataset is unprocessed and may contain data quality issues requiring cleaning.

The objective of this analysis is to evaluate sales performance, identify trends, and uncover opportunities for growth in the U.S. market. Key areas of focus may include seasonality, retailer performance, regional sales distribution, and sales methods. The findings are intended to support data-driven decision-making by company leadership.

In [ ]:
# import the right libraries
import pandas as pd
import numpy as np

# Step 2. Data Acquisition

In [ ]:
#Import data

#Rush sales data
sales_rush_df = pd.read_csv('https://raw.githubusercontent.com/Nooryassin8/Noor/refs/heads/main/TABLE_SALES_885.csv')

#Rush Retailer data
retailer_rush_df = pd.read_csv('https://raw.githubusercontent.com/Nooryassin8/Noor/refs/heads/main/TABLE_RETAILER_885.csv')

#Rush Products data
#Products data (pipe separated)
products_rush_df = pd.read_csv('https://raw.githubusercontent.com/Nooryassin8/Noor/refs/heads/main/TABLE_PRODUCTS_885.csv', sep = '|')

In [ ]:
#pandas settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Previewing the sales data
sales_rush_df.head()

,ORDER_ID,RETAILER_ID,INVOICE_DATE,MONTH,DAY,YEAR,PRODUCT_ID,PRICE_PER_UNIT,UNITS_SOLD,OPERATING_MARGIN,SALES_METHOD
0,1,A00MOHCO,1/1/2020,1,1,2020,20,50.0,1200,0.5,In-store
1,7,A00MOHCO,1/7/2020,1,7,2020,20,50.0,1250,0.5,In-store
2,13,A00MOHCO,1/25/2020,1,25,2020,20,50.0,1220,0.5,Outlet
3,19,A00MOHCO,1/31/2020,1,31,2020,20,50.0,1200,0.5,Outlet
4,25,A00MOHCO,2/6/2020,2,6,2020,20,60.0,1220,0.5,Outlet

In [ ]:
#Previewing the retailer data
retailer_rush_df.head()

  RETAILER_ID RETAILER     REGION          STATE        CITY
0    A00MOHCO   Amazon    Midwest           Ohio    Columbus
1    A00NMAPO   Amazon  Northeast          Maine    Portland
2    A00NMABO   Amazon  Northeast  Massachusetts      Boston
3    A00NNEMA   Amazon  Northeast  New Hampshire  Manchester
4    A00NVEBU   Amazon  Northeast        Vermont  Burlington

In [ ]:
#Previewing the products data
products_rush_df.head()

   PRODUCT_ID               PRODUCT_NAME
0          20      Men's Street Footwear
1          30    Men's Athletic Footwear
2         120    Women's Street Footwear
3         130  Women's Athletic Footwear
4          40              Men's Apparel

In [ ]:
#Merge sales data and retailer data based on retailer ID
#Return NA's for retailer id when retailer ID is not found in the retailer dataset
sales_rush_df = pd.merge(sales_rush_df, retailer_rush_df, on = 'RETAILER_ID', how = 'left')

#Preview join
sales_rush_df.head()

,ORDER_ID,RETAILER_ID,INVOICE_DATE,MONTH,DAY,YEAR,PRODUCT_ID,PRICE_PER_UNIT,UNITS_SOLD,OPERATING_MARGIN,SALES_METHOD,RETAILER,REGION,STATE,CITY
0,1,A00MOHCO,1/1/2020,1,1,2020,20,50.0,1200,0.5,In-store,Amazon,Midwest,Ohio,Columbus
1,7,A00MOHCO,1/7/2020,1,7,2020,20,50.0,1250,0.5,In-store,Amazon,Midwest,Ohio,Columbus
2,13,A00MOHCO,1/25/2020,1,25,2020,20,50.0,1220,0.5,Outlet,Amazon,Midwest,Ohio,Columbus
3,19,A00MOHCO,1/31/2020,1,31,2020,20,50.0,1200,0.5,Outlet,Amazon,Midwest,Ohio,Columbus
4,25,A00MOHCO,2/6/2020,2,6,2020,20,60.0,1220,0.5,Outlet,Amazon,Midwest,Ohio,Columbus

In [ ]:
#Merge sales and retailer data with products data based on product id
#Return NA'S when product id is not found inh the product dataset

sales_rush_df = pd.merge(sales_rush_df, products_rush_df, on = 'PRODUCT_ID', how = 'left')

In [ ]:
#Preview join
sales_rush_df.head()

,ORDER_ID,RETAILER_ID,INVOICE_DATE,MONTH,DAY,YEAR,PRODUCT_ID,PRICE_PER_UNIT,UNITS_SOLD,OPERATING_MARGIN,SALES_METHOD,RETAILER,REGION,STATE,CITY,PRODUCT_NAME
0,1,A00MOHCO,1/1/2020,1,1,2020,20,50.0,1200,0.5,In-store,Amazon,Midwest,Ohio,Columbus,Men's Street Footwear
1,7,A00MOHCO,1/7/2020,1,7,2020,20,50.0,1250,0.5,In-store,Amazon,Midwest,Ohio,Columbus,Men's Street Footwear
2,13,A00MOHCO,1/25/2020,1,25,2020,20,50.0,1220,0.5,Outlet,Amazon,Midwest,Ohio,Columbus,Men's Street Footwear
3,19,A00MOHCO,1/31/2020,1,31,2020,20,50.0,1200,0.5,Outlet,Amazon,Midwest,Ohio,Columbus,Men's Street Footwear
4,25,A00MOHCO,2/6/2020,2,6,2020,20,60.0,1220,0.5,Outlet,Amazon,Midwest,Ohio,Columbus,Men's Street Footwear

# Step 3. Data Inspection

Look for:

*   Unwanted Observation  
    1. Changing the PRODUCT_NAME column to PRODUCT_CATEGORY
*   Unwanted Features
    1. THE DAY COLUMN
*   Incorrect Data Formats or DataTypes
    1. UNITS_SOLD
    2. INVOICE_DATE
*   Duplicate Values
*   Missing Values
    1. PRICE_PER_UNIT
    2. UNITS_SOLD
    3. RETAILER
    4. REGION
    5. STATE
    6. CITY
*   Erronneous Values
    1. PRICE_PER_UNIT
*   Outliers
    1. PRICE_PER_UNIT
    2. UNITS_SOLD
    3. OPERATING_MARGIN

# Inspect Data Characteristics

In [ ]:
# show the columns along with their datatypes
sales_rush_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10271 entries, 0 to 10270
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          10271 non-null  int64
 1   RETAILER_ID       10271 non-null  object
 2   INVOICE_DATE      10271 non-null  object
 3   MONTH             10271 non-null  int64
 4   DAY               10271 non-null  int64
 5   YEAR              10271 non-null  int64
 6   PRODUCT_ID        10271 non-null  int64
 7   PRICE_PER_UNIT    10269 non-null  float64
 8   UNITS_SOLD        10271 non-null  object
 9   OPERATING_MARGIN  10271 non-null  float64
 10  SALES_METHOD      10271 non-null  object
 11  RETAILER          10270 non-null  object
 12  REGION            10270 non-null  object
 13  STATE             10270 non-null  object
 14  CITY              10270 non-null  object
 15  PRODUCT_NAME      10271 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 1.3+ MB

In [ ]:
#Convert the datatype in the units_sold column to int
sales_rush_df['UNITS_SOLD'] = pd.to_numeric(sales_rush_df['UNITS_SOLD'], errors='coerce')

#Convert the datatype in the INVOICE_DATE into date
sales_rush_df['INVOICE_DATE'] = pd.to_datetime(sales_rush_df['INVOICE_DATE'])

In [ ]:
#Drop the day column
sales_rush_df.drop(columns=['DAY'], inplace=True)

In [ ]:
#Changing the product_name column to product category
sales_rush_df = sales_rush_df.rename(columns={'PRODUCT_NAME': 'PRODUCT_CATEGORY'})

# Inspect for null values
  1. PRICE_PER_UNIT
  2. UNITS_SOLD
  3. RETAILER
  4. REGION
  5. STATE
  6. CITY

In [ ]:
sales_rush_df.shape

(10271, 15)

In [ ]:
#traditional null values (saved as or corrected to, NA)
sales_rush_df.isna().sum()

ORDER_ID            0
RETAILER_ID         0
INVOICE_DATE        0
MONTH               0
YEAR                0
PRODUCT_ID          0
PRICE_PER_UNIT      2
UNITS_SOLD          2
OPERATING_MARGIN    0
SALES_METHOD        0
RETAILER            1
REGION              1
STATE               1
CITY                1
PRODUCT_CATEGORY    0
dtype: int64

In [ ]:
# non-traditional categorical data
# identify by viewing unique values in all categorical fields

#list of categorical variables in dataframe
cat_var= list(sales_rush_df.select_dtypes(include=['object']).columns)

# view unique values for each categorical variable
for column in cat_var:
    print(column)
    print(sales_rush_df[column].unique())

RETAILER_ID
['A00MOHCO' 'A00NMAPO' 'A00NMABO' 'A00NNEMA' 'A00NVEBU' 'A00SALBI'
 'A00SKELO' 'A00SNOCH' 'A00WALAN' 'F00SLONE' 'F00SGEAT' 'F00SVIRI'
 'F00WALAN' 'F00WARPH' 'F00WHAHO' 'F00MNEOM' 'F00WIDBO' 'F00WWYCH'
 'F00MILCH' 'F00MIODE' 'F00MKAWI' 'F00MMIDE' 'F00MMIMI' 'F00MMIST'
 'F00MNOFA' 'F00MSOSI' 'F00NCOHA' 'F00NDEWI' 'F00NMABA' 'F00NNEMA'
 'F00SFLMI' 'F00NNENE' 'F00NPEPH' 'F00SKELO' 'F00NRHPR' 'F00SSOCH'
 'F00NWECH' 'F00SMIJA' 'F00STEKN' 'F00STEDA' 'F00WCALO' 'F00WWASE'
 'K00WARPH' 'K00WNEAL' 'K00NDEWI' 'K00NNENE' 'K00NNEAL' 'K00WWYCH'
 'K00MMIMI' 'K00MMOBI' 'K00WCALO' 'K00WCASA' 'K00MKAWI' 'K00SOKOK'
 'S00MILCH' 'S00SFLOR' 'S00SGEAT' 'S00MMOBI' 'S00SVIRI' 'S00MNEOM'
 'S00WHAHO' 'S00WNEAL' 'S00MMIDE' 'S00MNOFA' 'S00MSOSI' 'S00NCOHA'
 'S00NMABA' 'S00NNENE' 'S00NMABO' 'S00NRHPR' 'S00SMIJA' 'S00SFLMI'
 'S00SNOCH' 'S00SSOCH' 'S00SALBI' 'S00STEKN' 'S00STEDA' 'S00STEHO'
 'S00WIDBO' 'W00SFLOR' 'W00WHAHO' 'W00NNENE' 'W00SMIJA' 'W00SARLI'
 'W00STEHO' 'W00NMAPO' 'W00NPEPH' 'W00SLONE' 'W00WCASA' 'W00WCODE'
 'W00WNELA' 'W00WORPO' 'W00WUTSA' 'W00WWASE' 'W00MININ' 'W00MIODE'
 'W00MMIST' 'W00MOHCO' 'W00MWIMI' '999999999' 'W00NMABA' 'W00NNEAL'
 'W00NVEBU' 'W00NWECH' 'W00SFLMI' 'W00SOKOK' 'W00WIDBO']
SALES_METHOD
['In-store' 'Outlet' 'Ootlet' 'Online']
RETAILER
['Amazon' 'Foot Locker' "Kohl's" 'Sports Direct' 'Walmart' 'West Gear' nan]
REGION
['Midwest' 'Northeast' 'South' 'Southeast' 'West' nan]
STATE
['Ohio' 'Maine' 'Massachusetts' 'New Hampshire' 'Vermont' 'Alabama'
 'Kentucky' 'North Carolina' 'Alaska' 'Louisiana' 'Georgia' 'Virginia'
 'Arizona' 'Hawaii' 'Nebraska' 'Idaho' 'Wyoming' 'Illinois' 'Iowa'
 'Kansas' 'Michigan' 'Minnesota' 'Missouri' 'North Dakota' 'South Dakota'
 'Connecticut' 'Delaware' 'Maryland' 'Florida' 'New York' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'West Virginia' 'Mississippi' 'Tennessee'
 'Texas' 'California' 'Washington' 'New Mexico' 'New Jersey' 'Montana'
 'Oklahoma' 'Arkansas' 'Colorado' 'Nevada' 'Oregon' 'Utah' 'Indiana'
 'Wisconsin' nan]
CITY
['Columbus' 'Portland' 'Boston' 'Manchester' 'Burlington' 'Birmingham'
 'Louisville' 'Charlotte' 'Anchorage' 'New Orleans' 'Atlanta' 'Richmond'
 'Phoenix' 'Honolulu' 'Omaha' 'Boise' 'Cheyenne' 'Chicago' 'Des Moines'
 'Wichita' 'Detroit' 'Minneapolis' 'St. Louis' 'Fargo' 'Sioux Falls'
 'Hartford' 'Wilmington' 'Baltimore' 'Miami' 'New York' 'Philadelphia'
 'Providence' 'Charleston' 'Jackson' 'Knoxville' 'Dallas' 'Los Angeles'
 'Seattle' 'Albuquerque' 'Newark' 'Albany' 'Billings' 'San Francisco'
 'Oklahoma City' 'Orlando' 'Houston' 'Little Rock' 'Denver' 'Las Vegas'
 'Salt Lake City' 'Indianapolis' 'Milwaukee' nan]
PRODUCT_CATEGORY
["Men's Street Footwear" "Men's Athletic Footwear" "Men's Apparel"
 "Women's Street Footwear" "Women's Athletic Footwear" "Women's Apparel"]

In [ ]:
#replacing ootlet with outlet in the sales method column
sales_rush_df['SALES_METHOD'] = sales_rush_df['SALES_METHOD'].str.replace('Ootlet', 'Outlet')

# Inspect for duplicate values

In [ ]:
sales_rush_df.duplicated().sum()

np.int64(0)

## Check for erroneous values

In [ ]:
#check extremes for erroneous data
sales_rush_df.describe()

,ORDER_ID,INVOICE_DATE,MONTH,YEAR,PRODUCT_ID,PRICE_PER_UNIT,UNITS_SOLD,OPERATING_MARGIN
count,10271.000000,10271,10271.000000,10271.000000,10271.000000,10269.000000,10269.000000,10271.000000
mean,4970.630903,2021-05-13 12:00:54.678220288,6.456333,2020.873235,80.001947,54.575324,246.638232,0.426380
min,1.000000,2020-01-01 00:00:00,1.000000,2020.000000,20.000000,7.000000,0.000000,0.100000
25%,2568.500000,2021-02-18 00:00:00,3.000000,2021.000000,30.000000,35.000000,100.000000,0.350000
50%,5136.000000,2021-06-05 00:00:00,6.000000,2021.000000,120.000000,45.000000,173.000000,0.420000
75%,7236.000000,2021-09-17 00:00:00,9.000000,2021.000000,130.000000,55.000000,325.000000,0.500000
max,9648.000000,2021-12-31 00:00:00,12.000000,2021.000000,140.000000,99999.000000,1275.000000,0.800000
std,2770.737186,NaN,3.461826,0.332725,50.671441,986.473924,211.881078,0.096018

In [ ]:
# check value count for erroneous data
# list of categorical variables
cat_var= list(sales_rush_df.select_dtypes(include=['object']).columns)

# view unique values for each categorical variable
for column in cat_var:
    print(column)
    # Corrected line: call value_counts on the Series, not the list
    print(sales_rush_df[column].value_counts())

RETAILER_ID
RETAILER_ID
W00SARLI     432
W00SFLOR     378
W00STEHO     324
W00WNELA     216
W00WORPO     216
W00WUTSA     216
K00WCALO     204
S00SALBI     204
A00NVEBU     204
F00NPEPH     204
S00STEKN     204
W00WCASA     204
S00STEDA     204
W00SLONE     180
S00SGEAT     177
F00WARPH     177
F00SVIRI     177
K00WNEAL     177
S00NCOHA     150
S00NMABO     150
F00NRHPR     150
W00SOKOK     150
W00WCODE     144
W00MININ     144
W00MWIMI     143
F00NNENE     138
K00MMOBI     136
F00MNEOM     136
F00MILCH     136
W00WWASE     136
F00MMIMI     136
A00NMAPO     136
A00MOHCO     136
A00NNEMA     135
A00WALAN     126
K00WWYCH     118
W00NNEAL     118
F00SSOCH     118
F00MMIST     118
S00SNOCH     118
S00MMIDE     118
S00NNENE     112
A00SKELO     108
W00NWECH     106
F00NDEWI     100
F00MSOSI     100
F00MIODE     100
K00MKAWI     100
K00NNENE     100
S00MNOFA     100
F00SMIJA      84
F00WIDBO      81
F00NNEMA      81
W00WIDBO      75
F00WHAHO      74
K00SOKOK      66
S00SMIJA      66
W00NNENE      66
W00SMIJA      66
S00NRHPR      66
A00NMABO      66
F00NCOHA      66
S00WIDBO      60
F00NMABA      58
S00STEHO      54
F00SFLMI      52
W00SFLMI      52
W00NMABA      46
W00WHAHO      44
S00MSOSI      44
W00MIODE      44
K00NDEWI      44
F00MKAWI      44
F00MNOFA      44
S00SFLMI      40
S00NMABA      40
K00WARPH      39
S00SVIRI      39
S00WNEAL      39
F00SGEAT      39
F00NWECH      38
F00SKELO      36
F00SLONE      36
S00SFLOR      27
A00SNOCH      26
W00MMIST      26
K00NNEAL      26
S00WHAHO      26
S00SSOCH      26
F00WWYCH      26
F00MMIDE      26
F00WALAN      18
W00NVEBU      12
F00STEDA      12
F00STEKN      12
A00SALBI      12
F00WCALO      12
K00WCASA      12
W00NPEPH      12
F00WWASE       8
K00MMIMI       8
S00MILCH       8
S00MMOBI       8
S00MNEOM       8
W00NMAPO       8
W00MOHCO       8
999999999      1
Name: count, dtype: int64
SALES_METHOD
SALES_METHOD
Online      5417
Outlet      3114
In-store    1740
Name: count, dtype: int64
RETAILER
RETAILER
West Gear        2823
Foot Locker      2637
Sports Direct    2088
Kohl's           1030
Amazon            949
Walmart           743
Name: count, dtype: int64
REGION
REGION
West         2448
Northeast    2432
South        2106
Midwest      1871
Southeast    1413
Name: count, dtype: int64
STATE
STATE
Texas             594
Florida           549
Arkansas          432
California        432
New York          404
Vermont           216
Idaho             216
Arizona           216
Virginia          216
Mississippi       216
Rhode Island      216
Connecticut       216
Pennsylvania      216
Alabama           216
Louisiana         216
Georgia           216
New Hampshire     216
Massachusetts     216
Tennessee         216
Oklahoma          216
Nevada            216
New Mexico        216
Oregon            216
Utah              216
New Jersey        156
Illinois          144
Ohio              144
Wyoming           144
Nebraska          144
Hawaii            144
North Carolina    144
Kentucky          144
Alaska            144
Maine             144
West Virginia     144
South Carolina    144
Maryland          144
Delaware          144
Minnesota         144
Missouri          144
North Dakota      144
South Dakota      144
Kansas            144
Michigan          144
Iowa              144
Washington        144
Montana           144
Colorado          144
Indiana           144
Wisconsin         143
Name: count, dtype: int64
CITY
CITY
Little Rock       432
Orlando           405
Houston           378
Portland          360
Charleston        288
New York          260
Atlanta           216
Birmingham        216
Richmond          216
Phoenix           216
San Francisco     216
Oklahoma City     216
Dallas            216
Hartford          216
Philadelphia      216
New Orleans       216
Boise             216
Boston            216
Manchester        216
Burlington        216
Salt Lake City    216
Providence        216
Albuquerque       216
Las Vegas         216
Los Angeles       216
Knoxville         216
Jackson           216
Newark            156
Louisville        144
Columbus          144
Chicago           144
Cheyenne          144
Omaha             144
Honolulu          144
Charlotte         144
Anchorage         144
Wichita           144
Des Moines        144
St. Louis         144
Minneapolis       144
Fargo             144
Sioux Falls       144
Wilmington        144
Baltimore         144
Miami             144
Detroit           144
Seattle           144
Billings          144
Albany            144
Denver            144
Indianapolis      144
Milwaukee         143
Name: count, dtype: int64
PRODUCT_CATEGORY
PRODUCT_CATEGORY
Men's Athletic Footwear      1714
Women's Apparel              1714
Men's Street Footwear        1713
Women's Street Footwear      1712
Women's Athletic Footwear    1710
Men's Apparel                1708
Name: count, dtype: int64

# Check for outliers

1. PRICE_PER_UNIT: 85
2. UNITS_SOLD: 680
3. OPERATING_MARGIN: 31

In [ ]:
#use the IQR method for this business case
# write a function to calculate IQR and print rows with values that fall outside the IQR

def count_iqr_outliers(df, column):
    # define q1
    q1 = df[column].quantile(0.25)
    # define q3
    q3 = df[column].quantile(0.75)
    # define iqr
    iqr = q3 - q1
    # define outlier thresholds
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    # count outlies
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    # return the number of outlier rows
    return len(outliers)

In [ ]:
# iterate over the numerical columns of the dataframe
num_var = list(sales_rush_df.select_dtypes(include=['int64', 'float64']).columns)
for column in num_var:
    print({column},count_iqr_outliers(sales_rush_df, column))

{'ORDER_ID'} 0
{'MONTH'} 0
{'YEAR'} 1302
{'PRODUCT_ID'} 0
{'PRICE_PER_UNIT'} 85
{'UNITS_SOLD'} 680
{'OPERATING_MARGIN'} 31

In [ ]:
# iterate over the numerical columns of the dataframe and print the number of outliers
num_var = list(sales_rush_df.select_dtypes(include=['int64', 'float64']).columns)

for column in num_var:
    # Exclude 'ORDER_ID', 'MONTH', 'DAY', 'YEAR', 'PRODUCT_ID' and datetime columns
    if column not in ['ORDER_ID', 'MONTH', 'DAY', 'YEAR', 'PRODUCT_ID'] and sales_rush_df[column].dtype != 'datetime64[ns]':
        print(f"Number of outliers in {column}: {count_iqr_outliers(sales_rush_df, column)}")

Number of outliers in PRICE_PER_UNIT: 85
Number of outliers in UNITS_SOLD: 680
Number of outliers in OPERATING_MARGIN: 31

# Step 4. Data Cleaning

# Handle Missing Values

In [ ]:
 #examine sales_rush_df missing value
sales_rush_df[sales_rush_df['PRICE_PER_UNIT'].isnull()]

Empty DataFrame
Columns: [ORDER_ID, RETAILER_ID, INVOICE_DATE, MONTH, YEAR, PRODUCT_ID, PRICE_PER_UNIT, UNITS_SOLD, OPERATING_MARGIN, SALES_METHOD, RETAILER, REGION, STATE, CITY, PRODUCT_CATEGORY]
Index: []

In [ ]:
#filter the product category records in men's street footwear
mens_street_footwear_filter = sales_rush_df['PRODUCT_CATEGORY'] == "Men's Street Footwear"

#fill the price_per_unit null values for these rows with the mean price for this product
sales_rush_df.loc[mens_street_footwear_filter, 'PRICE_PER_UNIT'] = sales_rush_df.loc[mens_street_footwear_filter, 'PRICE_PER_UNIT'].fillna(sales_rush_df.loc[mens_street_footwear_filter, 'PRICE_PER_UNIT'].mean())

In [ ]:
#examine sales_rush_df missing value
sales_rush_df[sales_rush_df['UNITS_SOLD'].isnull()]

Empty DataFrame
Columns: [ORDER_ID, RETAILER_ID, INVOICE_DATE, MONTH, YEAR, PRODUCT_ID, PRICE_PER_UNIT, UNITS_SOLD, OPERATING_MARGIN, SALES_METHOD, RETAILER, REGION, STATE, CITY, PRODUCT_CATEGORY]
Index: []

In [ ]:
#filter the product name records in men's street footwear
mens_street_footwear_filter = sales_rush_df['PRODUCT_CATEGORY'] == "Men's Street Footwear"

#fill the units_sold null values for these rows with the mean units sold for this product
sales_rush_df.loc[mens_street_footwear_filter, 'UNITS_SOLD'] = sales_rush_df.loc[mens_street_footwear_filter, 'UNITS_SOLD'].fillna(sales_rush_df.loc[mens_street_footwear_filter, 'UNITS_SOLD'].mean())

In [ ]:
#examine sales_rush_df missing value
sales_rush_df[sales_rush_df['RETAILER'].isnull()]

Empty DataFrame
Columns: [ORDER_ID, RETAILER_ID, INVOICE_DATE, MONTH, YEAR, PRODUCT_ID, PRICE_PER_UNIT, UNITS_SOLD, OPERATING_MARGIN, SALES_METHOD, RETAILER, REGION, STATE, CITY, PRODUCT_CATEGORY]
Index: []

In [ ]:
#fill the retailer, city, state, and region
sales_rush_df['RETAILER'] = sales_rush_df['RETAILER'].fillna('Unknown')
sales_rush_df['CITY'] = sales_rush_df['CITY'].fillna('Unknown')
sales_rush_df['STATE'] = sales_rush_df['STATE'].fillna('Unknown')
sales_rush_df['REGION'] = sales_rush_df['REGION'].fillna('Unknown')

# Handle erroneous values

In [ ]:
# Examine price_per_unit erroneous value
# the number is way too high
sales_rush_df[sales_rush_df['PRICE_PER_UNIT'] ==  99999]

Empty DataFrame
Columns: [ORDER_ID, RETAILER_ID, INVOICE_DATE, MONTH, YEAR, PRODUCT_ID, PRICE_PER_UNIT, UNITS_SOLD, OPERATING_MARGIN, SALES_METHOD, RETAILER, REGION, STATE, CITY, PRODUCT_CATEGORY]
Index: []

In [ ]:
#replace the price_per_unit number with a reasonable one
sales_rush_df.loc[sales_rush_df['PRICE_PER_UNIT'] == 99999, 'PRICE_PER_UNIT']= sales_rush_df.loc[mens_street_footwear_filter, 'PRICE_PER_UNIT'].mean()

# Handle outliers

In [ ]:
# windsorize the data
# clip outliers at a certain percentile

for column in num_var:
    # set upper clipping threshold
    high_percentile = sales_rush_df[column].quantile(0.95)
    #clip upper outliers
    sales_rush_df.loc[:,column] = sales_rush_df[column].clip(upper=high_percentile)
    # set clipping threshold
    low_percentile = sales_rush_df[column].quantile(0.05)
    # clip outliers
    sales_rush_df.loc[:,column] = sales_rush_df[column].clip(lower=low_percentile)

# Rush Sales Analysis

# 1. Seasonality

In [ ]:
#Calculate the revenue and add it as a new column
sales_rush_df['REVENUE'] = sales_rush_df['PRICE_PER_UNIT'] * sales_rush_df['UNITS_SOLD']

# Display the DataFrame with the 'REVENUE' column formatted as currency
#display(sales_rush_df.style.format({'REVENUE': '${:,.2f}'}))


# Group by year and month to analyze seasonality
seasonality = (
    sales_rush_df.groupby(['YEAR', 'MONTH'])['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending = False)
)
print('\n Monthly Seasonality (Revenue)')
print(seasonality)

 Monthly Seasonality (Revenue)
    YEAR  MONTH       REVENUE
23  2021     12  1.032373e+07
18  2021      7  9.830212e+06
19  2021      8  9.484586e+06
16  2021      5  8.611644e+06
17  2021      6  8.466356e+06
20  2021      9  7.991722e+06
22  2021     11  7.960322e+06
12  2021      1  7.311659e+06
21  2021     10  7.191664e+06
15  2021      4  6.511142e+06
13  2021      2  6.167647e+06
14  2021      3  5.339798e+06
3   2020      4  2.836577e+06
7   2020      8  2.323377e+06
2   2020      3  2.153188e+06
8   2020      9  2.058936e+06
0   2020      1  2.037438e+06
1   2020      2  1.999990e+06
4   2020      5  1.963059e+06
6   2020      7  1.962346e+06
9   2020     10  1.306587e+06
10  2020     11  1.149213e+06
11  2020     12  1.051933e+06
5   2020      6  1.011168e+06

# 2. Overall Yearly Sales Performance

**2021**

In [ ]:
# Overall sales performance in 2021
sales_rush_df.loc[sales_rush_df['YEAR'] == 2021, 'REVENUE'].sum()

# show the number in millions
sales_rush_df.loc[sales_rush_df['YEAR'] == 2021, 'REVENUE'].sum()/1000000

np.float64(95.19047808065459)

**2020**

In [ ]:
# Overall sales performance in 2020
sales_rush_df.loc[sales_rush_df['YEAR'] == 2020, 'REVENUE'].sum()

# show the numbers in millions
sales_rush_df.loc[sales_rush_df['YEAR'] == 2020, 'REVENUE'].sum()/1000000

np.float64(21.853812)

# 3. Year over Year Growth

In [ ]:
# Group by year and revenue to analyze year over year growth
yoy_growth = (
    sales_rush_df.groupby(['YEAR'])['REVENUE']
    .sum()
    .pct_change() * 100
).reset_index(name="YoY_Growth_%")


print('\n Year-over-Year Growth (%)')
# Display year over year growth
print(yoy_growth)

 Year-over-Year Growth (%)
   YEAR  YoY_Growth_%
0  2020           NaN
1  2021     335.57837

# 4. Top Retailers

In [ ]:
# Group by retailer and revenue to analyze seasonality
top_retailers = (
    sales_rush_df.groupby(['RETAILER'])['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
)
print('\n Top Retailers by Revenue')
# display the top retailers
print(top_retailers.head())

 Top Retailers by Revenue
        RETAILER       REVENUE
1    Foot Locker  5.114360e+07
0         Amazon  2.510462e+07
6      West Gear  1.475039e+07
3  Sports Direct  1.290141e+07
2         Kohl's  1.079646e+07

# 5. Top Locations

In [ ]:
# Group by state and revenue to analyze top locations
top_states = (
    sales_rush_df.groupby(['STATE'])['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
)
print('\n Top States by Revenue')
# Display the top states with the highest revenue
print(top_states.head())

 Top States by Revenue
            STATE    REVENUE
45        Vermont  5210093.0
18          Maine  5022914.0
34           Ohio  4563611.0
31       New York  4067228.0
28  New Hampshire  4013175.0

# 6. Sales Method Performance by Year

In [ ]:
# Group by sales_method and year to analyze sales method performance over time
sales_methods = (
    sales_rush_df.groupby(['SALES_METHOD', 'YEAR'])['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
)
print('\n Revenue by Sales Method and Year')
# Display the revenue by sales method and year
print(sales_methods)

 Revenue by Sales Method and Year
  SALES_METHOD  YEAR       REVENUE
3       Online  2021  4.128184e+07
5       Outlet  2021  2.862949e+07
1     In-store  2021  2.527915e+07
4       Outlet  2020  8.956009e+06
0     In-store  2020  8.413825e+06
2       Online  2020  4.483978e+06

# 7. Top Product Categories

In [ ]:
# Group by product_categories and revenue to analyze best performing product category
top_product_categories = (
    sales_rush_df.groupby('PRODUCT_CATEGORY')['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
)

print('\n Top Product Product Names by Revenue')
# Display the best performing product categories
print(top_product_categories.head())

 Top Product Product Names by Revenue
          PRODUCT_CATEGORY       REVENUE
2    Men's Street Footwear  2.632824e+07
3          Women's Apparel  2.286763e+07
1  Men's Athletic Footwear  2.002866e+07
5  Women's Street Footwear  1.699843e+07
0            Men's Apparel  1.642753e+07

# 8. Lowest Performing Product Category

In [ ]:
# Group by product_categoy and revenue to analyze lowest performing product category
lowest_product_category = (
    sales_rush_df.groupby('PRODUCT_CATEGORY')['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=True)
)

print('\n lowest Product Category by Revenue')
# Display the lowest performing product categories
print(lowest_product_category.head(1))

 lowest Product Category by Revenue
            PRODUCT_CATEGORY     REVENUE
4  Women's Athletic Footwear  14393811.0

# 9. Seasonality by Product Category

In [ ]:
# Group by product_categories, month, and revenue to best performing season
seasonality_by_cat = (
    sales_rush_df.groupby(['PRODUCT_CATEGORY', 'MONTH'])['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['PRODUCT_CATEGORY', 'REVENUE'], ascending = False)
)
print('\n Monthly Seasonality by Product Category')
# Display the monthly revenue by product category
print(seasonality_by_cat.head())

 Monthly Seasonality by Product Category
           PRODUCT_CATEGORY  MONTH    REVENUE
67  Women's Street Footwear      8  1791584.0
66  Women's Street Footwear      7  1620820.0
71  Women's Street Footwear     12  1569030.0
68  Women's Street Footwear      9  1491294.0
64  Women's Street Footwear      5  1488809.0

# Answering the Business Questions

Q1. What product category (product) had the highest sales (in dollars) in 2021? How much did it sell?

In [ ]:
# Product category with highest sales in 2021
top_category_2021 = (
  sales_rush_df.groupby('PRODUCT_CATEGORY')['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
    .iloc[0]
)

# Display the category with highest revenue in 2021
print(f"Q1: Top category in 2021: {top_category_2021['PRODUCT_CATEGORY']}  ${top_category_2021['REVENUE']:,.2f}")

Q1: Top category in 2021: Men's Street Footwear  $26,328,238.08

Q2. What state had the highest sales (in dollars) of women's products in 2021? How much was it?

In [ ]:
#Calculate the sales with the highest sales in 2021 for women's product
top_state_women_2021 = (
    sales_rush_df[sales_rush_df["PRODUCT_CATEGORY"].isin(["Women's Street Footwear", "Women's Apparel", "Women's Athletic Footwear"])]
    .groupby('STATE')['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
    .iloc[0]
)
# Display the state with highest revenue in Women's category
print(f"Q2: Top state for women's products in 2021: {top_state_women_2021['STATE']}  ${top_state_women_2021['REVENUE']:,.2f}")

Q2: Top state for women's products in 2021: Maine  $2,609,124.00

Q3. What state had the highest sales (in dollars) of men's products in 2021? How much was it?

In [ ]:
# Calculate the sales with the highest sales in 2021 for men's product
top_state_men_2021 = (
    sales_rush_df[sales_rush_df["PRODUCT_CATEGORY"].isin(["Men's Street Footwear", "Men's Apparel", "Men's Athletic Footwear"])]
    .groupby('STATE')['REVENUE']
    .sum()
    .reset_index()
    .sort_values(['REVENUE'], ascending=False)
    .iloc[0]
)
# Display the state with the highest revenue in Men's category
print(f"Q3: Top state for men's products in 2021: {top_state_men_2021['STATE']}  ${top_state_men_2021['REVENUE']:,.2f}")

Q3: Top state for men's products in 2021: Vermont  $2,736,397.00

Q4. What retailer purchased the most units in 2021? In 2020?

In [ ]:
# Retailer purchasing the most units in 2021 and 2020
top_retailer_units_2021 = (
    sales_rush_df[sales_rush_df['YEAR'] == 2021]
    .groupby("RETAILER")["UNITS_SOLD"]
    .sum()
    .reset_index()
    .sort_values(['UNITS_SOLD'], ascending=False)
    .iloc[0]
)
top_retailer_units_2020 = (
    sales_rush_df[sales_rush_df['YEAR'] == 2020]
    .groupby("RETAILER")["UNITS_SOLD"]
    .sum()
    .reset_index()
    .sort_values(['UNITS_SOLD'], ascending=False)
    .iloc[0]
)
# Display the reatiler purchased the most units in 2020 and 2021
print(f"Q4: Top retailer by units sold in 2021: {top_retailer_units_2021['RETAILER']}  {top_retailer_units_2021['UNITS_SOLD']:,} units")
print(f"    Top retailer by units sold in 2020: {top_retailer_units_2020['RETAILER']}  {top_retailer_units_2020['UNITS_SOLD']:,} units")

Q4: Top retailer by units sold in 2021: Foot Locker  1,071,170.0 units
    Top retailer by units sold in 2020: Amazon  279,675.0 units